.git
.github
.gitignore
.dockerignore
.env
.env.*
node_modules
webapp/backend/node_modules
webapp/frontend/node_modules
webapp/backend/tests
webapp/backend/data
webapp/frontend/tests
webapp/frontend/dist
infra
docker-compose.yml
*.md
*.log
